<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="py-12">
  <a href="/about" class="absolute top-3 right-5 text-blue-400">About</a>
  <div class="w-1/3 mx-auto border-2 border-solid border-stone-200 rounded-md py-8 px-12 mb-1">
    <h1 class="text-2xl font-bold mb-1" th:text="${task.title}"></h1>
    <h3 class="text-lg font-medium mb-8" th:text="${task.dateCreated}"></h3>
    <form th:action="@{/task/edit/{id}(id=${task.id})}" th:object="${task}" method="post">
      <input type="hidden" th:field="*{id}" th:value="${task.id}"/>
      <div class="flex flex-col mb-6">
        <label>Title</label>
        <input class="border-2 border-solid rounded-md" type="text" th:field="*{title}" th:value="${task.title}" />
      </div>
      <div class="flex flex-col mb-6">
        <label>Description</label>
        <textarea class="border-2 border-solid rounded-md" type="text" th:field="*{description}" th:value="${task.description}"></textarea>
      </div>
      <div class="flex flex-col mb-6">
        <label>Owner</label>
        <select th:field="*{owner}" class="border-2 border-solid rounded-md">
          <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
      </div>
      <div class="flex flex-col mb-6">
        <label>Due Date</label>
        <input class="border-2 border-solid rounded-md" type="text" th:field="*{dueDate}" th:value="${task.dueDate}"/>
      </div>
      <div class="flex flex-col mb-12 items-start">
        <label>Completed?</label>
        <input type="checkbox" th:field="*{isCompleted}" th:value="${task.isCompleted}"></textarea>
      </div>
      <input type="submit" value="Submit" class="bg-blue-400 rounded-md px-6 py-2 text-white"/>
    </form>
  </div>
  <div class="w-1/3 mx-auto flex justify-between">
    <a href="/tasks" class="text-blue-400">Back</a>
    <form th:action="@{/delete-task/{id}(id=${task.id})}" method="post">
      <input type="hidden" name="" th:value="${task.id}" />
      <input type="submit" value="Delete This Task" class="text-red-500" />
    </form>
  </div>
</body>
</html>
